@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* || RESETS */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* || GENERAL */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: #574949;
}

/* || FORM */

fieldset {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: aqua;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #f5f5f5;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #555;
  color: #fff;
}
